.products {
  padding-bottom: 34px;
}

.products__title {
  margin-bottom: 25px;

  font-family: "Barlow", "Helvetica", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.product__more-link {
  display: block;
  max-width: 252px;
  width: 100%;

  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-right: 43px;
  padding-bottom: 16px;
  padding-left: 43px;

  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;

  background: $color-athens-gray;

  transition: all 0.2s linear;
}

.product__more-link:focus,
.product__more-link:hover {
  background: darken($color-athens-gray, 10);
}

.product__more-link:active {
  background: darken($color-athens-gray, 20);
}
