.product-slider__item {
  position: relative;

  max-width: 271px;
  width: 100%;

  border: 1px solid $color-silver;
  border-radius: 3px;
}

.product-slider__item--sale::before {
  content: "SALE";
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: $color-white;
  text-transform: uppercase;

  border-radius: 2px 0px 0px 0px;
  background-color: $color-denim;
}

.product-slider__item-favorite {
  z-index: 5;
  position: absolute;
  top: 16px;
  right: 19px;

  width: 25px;
  height: 24px;

  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  transition: all linear 0.2s;
}

.product-slider__item-favorite::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 23px;

  background-image: url("../img/product/icon-favorite.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-slider__item-favorite--active::before {
  background-image: url("../img/product/icon-favorite-active.svg");
}

.product-slider__item-link {
  display: block;

  min-height: 400px;

  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;

  text-align: center;

  transition: all linear 0.2s;
}

.product-slider__item-link:hover,
.product-slider__item-link:focus {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.product-slider__item-img {
  width: 200px;
  height: 200px;
}

.product-slider__hover-text {
  position: absolute;
  top: 30%;

  width: 230px;

  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 20px;
  line-height: 24px;
  color: $color-shark;

  background-color: rgba($color-white, 0.9);
  box-shadow: 0px 0px 15px rgba($color-black, 0.2);
  border-radius: 3px;
  opacity: 0;

  transition: all linear 0.2s;
}

.product-slider__item-link:hover .product-slider__hover-text,
.product-slider__item-link:focus .product-slider__hover-text {
  opacity: 1;
}

.product-slider__item-title {
  margin-top: 10px;
  margin-bottom: 10px;

  font-weight: 400;
}

.product-slider__item.product-slider__item--not-available .product-slider__item-title {
  margin-top: 5px;
  margin-bottom: 12px;
}

.product-slider__item-price {
  margin-top: 0;
  margin-bottom: 5px;

  font-family: "Barlow", "Helvetica", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.product-slider__item-link:hover .product-slider__item-title,
.product-slider__item-link:focus .product-slider__item-title,
.product-slider__item-link:hover .product-slider__item-price,
.product-slider__item-link:focus .product-slider__item-price {
  color: $color-denim;
}

.product-slider__item.product-slider__item--not-available .product-slider__item-price {
  display: none;
}

.product-slider__notify-text {
  display: none;

  margin-top: 11px;
  margin-bottom: 13px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.product-slider__item.product-slider__item--not-available .product-slider__notify-text {
  display: block;
}

.product-slider__notify-link {
  display: none;
}

.product-slider__item.product-slider__item--not-available .product-slider__notify-link {
  position: absolute;
  bottom: 20px;

  display: block;
  width: 100%;
  margin: 0 auto;

  font-size: 16px;
  line-height: 19px;
  color: $color-denim;

  text-align: center;
}

.product-slider__item.product-slider__item--not-available .product-slider__notify-link span {
  border-bottom: 1px solid $color-denim;
}

.product-slider__item-basket {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;

  width: 60px;
  height: 40px;

  background: $color-denim;
  border: none;
  border-radius: 10px 0px 0px 0px;

  outline: none;
  cursor: pointer;
}

.product-slider__item-basket::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;

  width: 30px;
  height: 23px;

  background-image: url("../img/product/icon-basket-white.svg");
  background-repeat: no-repeat;
}

.product-slider__item.product-slider__item--not-available .product-slider__item-basket {
  display: none;
}

.product-slider__slider-btn {
  z-index: 5;
  position: absolute;
  top: 50%;

  padding: 0;

  background-color: transparent;
  border: none;

  outline: none;
  cursor: pointer;

  transform: translateY(-50%);
}

.product-slider__slider-btn--prev {
  left: -40px;
}

.product-slider__slider-btn--next {
  right: -30px;
}

.product-slider__slider-btn img {
  display: block;
}
