.user-list {
  display: flex;
  align-items: center;

  margin-right: 20px;
}

.user-list__item + .user-list__item {
  margin-left: 10px;
}

.user-list__link {
  outline: none;
}

.user-list__link svg {
  fill: $color-shark;
}

.user-list__link:hover svg,
.user-list__link:focus svg {
  fill: $color-denim;
}

.user-list__link:active svg {
  fill: rgba($color-denim, 0.7);
}

.user-list__link--basket {
  position: relative;
}

.user-list__link--basket .user-list__basket-num {
  position: absolute;
  bottom: 2px;
  right: -5px;

  width: 20px;
  height: 20px;

  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;

  color: $color-white;
  background-color: $color-denim;

  border-radius: 50%;
}
