$color-black: #000000;
$color-shark: #2f3035;
$color-mine-shaft: #323232;
$color-silver: #cdcdcd;
$color-dove-gray: #656464;
$color-silver-2: #c4c4c4;
$color-athens-gray: #f0f0f4;
$color-white: #ffffff;
$color-denim: #1c62cd;
